html{
    margin: 0;
    height: 100%;
}

body {
    background-image: url("images/whitebackground.avif");
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 25px;
    justify-content: center;
    
}

/* Logo & Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.logo span {
    color: #ff4081; /* Accent color for 'Flowers' */
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar ul li {
    margin-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    transition: background 0.3s, color 0.3s;
}

.nav-bar ul li a:hover,
.nav-bar ul li.active a {
    background-color: #ff4081;
    color: #fff;
    border-radius: 4px;
}

/* Home */
.header_banner {
    display: flex;
    flex-direction: column;
}

.header_banner td {
    display: block;
}

/* About */


/* Products-Flowers */
#flowers .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#flowers .col {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.col p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

#flowers img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ff4081;
}

#flowers button{
    justify-self: center;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #00eeff;
    color: rgb(56, 54, 54);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4081;
}

/* Specials */

/* Contact Us */